{% extends 'base.html' %}

{% block title %}Materials{% endblock %}

{% block content %}

{% load humanize %}

<div class="row m-3">
    <div class="col-12">
        <div class="row">
            <div class="col"><h2>Materials</h2></div>
            <div class="col text-end"><a class="btn btn-outline-info" href="/planning/materials/add">Add Material</a></div>    
        </div>
    </div>
</div>
<div class="row m-3">
    <div style="overflow-x:auto" class="col-12">
        {% if materials|length > 0 %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="text-nowrap">Item Code</th>
                    <th scope="col" class="text-nowrap">Name</th>
                    <th scope="col" class="text-nowrap">Lead Time</th>
                    <th scope="col" class="text-nowrap">Minimum Order Quantity</th>
                    <th scope="col" class="text-nowrap">Cost per UoM</th>
                    <th scope="col" class="text-nowrap"></th>
                    <th scope="col" class="text-nowrap"></th>
                </tr>
            </thead>
            <tbody>
                {% for m in materials %}
                <tr>
                    <th class="align-middle text-nowrap" scope="row">{{forloop.counter}}</th>
                    <td class="align-middle text-nowrap">{{m.itemcode}}</td>
                    <td class="align-middle text-nowrap">{{m.name}}</td>
                    <td class="align-middle text-nowrap">{{m.lead_time}} days</td>
                    <td class="align-middle text-nowrap">{{m.minimum_order_quantity | intcomma}} {{m.unit_of_measure}}</td>
                    <td class="align-middle text-nowrap">{{currency}} {{m.cost | intcomma}}</td>
                    <td class="align-middle"><a class="btn btn-outline-dark text-nowrap" href="materials/{{m.itemcode}}/view">View</a></td>
                    <td class="align-middle"><a class="btn btn-outline-dark text-nowrap" href="materials/{{m.itemcode}}/edit">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="col-12">
            <h5>There are no materials added.</h5>
        </div>
        {% endif %}
    </div>
</div>

<script>
    document.getElementById("materials-link").classList.add('active');
</script>

{% endblock %}