{% extends 'base.html' %}

{% block title %}Production Plan{% endblock %}

{% block content %}

{% load humanize %}

<div class="row m-3">
    <div class="col-12">
        <div class="row">
            <div class="col"><h2>Production Plan - {{plan.name}}</h2></div>
        </div>
    </div>
</div>
<div class="row m-3">
    <div style="overflow-x:auto" class="col-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Item Code</th>
                    <th scope="col">Name</th>
                    <th scope="col">Batch Size</th>
                    <th scope="col">Safety Stock Days</th>
                    <th scope="col">Current Inventory</th>
                    <th scope="col">Forecast</th>
                    <th scope="col">Safety Stock</th>
                    <th scope="col">Batches</th>
                    <th scope="col" class="table-success">Production Quantity</th>
                    <th scope="col">Closing Inventory</th>
                    <th scope="col">Closing Inventory Days</th>
                </tr>
            </thead>
            <tbody>
                {% for line in plan_lines %}
                <tr>
                    <th class="align-middle" scope="row">{{forloop.counter}}</th>
                    <td class="align-middle">{{line.product.itemcode}}</td>
                    <td class="align-middle">{{line.product.name}}</td>
                    <td class="align-middle">{{line.batch_size | intcomma}}</td>
                    <td class="align-middle">{{line.safety_stock_days}}</td>
                    <td class="align-middle">{{line.current_inventory | intcomma}}</td>
                    <td class="align-middle">{{line.forecast | intcomma}}</td>
                    <td class="align-middle">{{line.safety_stock | intcomma}}</td>
                    <td class="align-middle">{{line.batches | intcomma}}</td>
                    <td class="align-middle table-success">{{line.quantity | intcomma}}</td>
                    <td class="align-middle">{{line.closing_inventory | intcomma}}</td>
                    <td class="align-middle">{{line.closing_inventory_days | intcomma}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script>
    document.getElementById("production-link").classList.add('active');
</script>

{% endblock %}