{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}

{% load humanize %}

<div class="row m-3">
    <div class="col-12">
        <div class="row">
            <div class="col"><h2>Products</h2></div>
            <div class="col text-end"><a class="btn btn-outline-info" href="/planning/products/add">Add Product</a></div>
        </div>
    </div>
</div>
<div class="row m-3">
    <div class="col-12 table-responsive">
        {% if products|length > 0 %}
        <table style="" class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="text-nowrap">Item Code</th>
                    <th scope="col" class="text-nowrap">Name</th>
                    <th scope="col" class="text-nowrap">Batch Size</th>
                    <th scope="col" class="text-nowrap">Unit of Measure</th>
                    <th scope="col" class="text-nowrap">Selling Price</th>
                    <th scope="col" class="text-nowrap"></th>
                    <th scope="col" class="text-nowrap"></th>
                </tr>
            </thead>
            <tbody>
                {% for p in products %}
                <tr>
                    <th class="align-middle text-nowrap" scope="row">{{forloop.counter}}</th>
                    <td class="align-middle text-nowrap">{{p.itemcode}}</td>
                    <td class="align-middle text-nowrap">{{p.name}}</td>
                    <td class="align-middle text-nowrap">{{p.batch_size | intcomma}}</td>
                    <td class="align-middle text-nowrap">{{p.unit_of_measure}}</td>
                    <td class="align-middle text-nowrap">{{currency}} {{p.selling_price | intcomma}}</td>
                    <td><a class="btn btn-outline-dark text-nowrap" href="products/{{p.itemcode}}/view">View</a></td>
                    <td><a class="btn btn-outline-dark text-nowrap" href="products/{{p.itemcode}}/edit">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="col-12">
            <h5>There are no products added.</h5>
        </div>
        {% endif %}
    </div>
</div>

<script>
    document.getElementById("products-link").classList.add('active');
</script>

{% endblock %}