{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}

<div class="row m-3">
    <div class="col-12">
        <h2>Products - Add Product</h2>
    </div>
</div>

<div class="row m-3">
    <div class="col-md-12">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
        {% endif %}
        <form action="/planning/products/add" method="POST">{% csrf_token %}
            <table class="table table-light">
                <tbody>
                    <tr><td class="fw-bold align-middle">Item Code</td><td><input type="text" class="form-control" name="itemcode"></td></tr>
                    <tr><td class="fw-bold align-middle">Name</td><td class="input-group"><input type="text" class="form-control" name="name"></td></tr>
                    <tr><td class="fw-bold align-middle">Batch Size</td><td class="input-group"><input type="text" class="form-control" name="batch_size"></td></tr>
                    <tr><td class="fw-bold align-middle">Unit of Measure</td><td class="input-group"><input type="text" class="form-control" name="unit_of_measure"></td></tr>
                    <tr><td class="fw-bold align-middle">Selling Price</td><td class="input-group"><input type="text" class="form-control" name="selling_price"></td></tr>
                </tbody>
            </table>
            <input class="btn btn-outline-success mt-1" type="submit" value="Save">
        </form>
    </div>
</div>

<script>
    document.getElementById("products-link").classList.add('active');
</script>

{% endblock %}