{% extends 'base.html' %}

{% block title %}Production Plan{% endblock %}

{% block content %}

{% load humanize %}

<div class="row m-3">
    <div class="col-12">
        <div class="row">
            <div class="col pb-4"><h2>{{plan.name}}</h2></div>
            <div class="col text-end"><a class="btn btn-outline-info" href="/planning/reordering/{{plan.id}}/add">Create Materials Reordering Plan</a></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="">Product Code</th>
                    <th scope="col" class="">Product Description</th>
                    <th scope="col" class="">Batch Size</th>
                    <th scope="col" class="">Safety Stock Days</th>
                    <th scope="col" class="">Current Stock</th>
                    <th scope="col" class="">Forecast</th>
                    <th scope="col" class="">Safety Stock</th>
                    <th scope="col" class="">Batches</th>
                    <th scope="col" class="table-success">Production Quantity</th>
                    <th scope="col" class="">Closing Stock</th>
                    <th scope="col" class="">Closing Stock Days</th>
                </tr>
            </thead>
            <tbody>
                {% for line in plan_lines %}
                <tr>
                    <th class="align-middle pt-4 pb-4" scope="row">{{forloop.counter}}</th>
                    <td class="align-middle pt-4 pb-4">{{line.product.itemcode}}</td>
                    <td class="align-middle pt-4 pb-4">{{line.product.name}}</td>
                    <td class="align-middle pt-4 pb-4">{{line.batch_size | intcomma}}</td>
                    <td class="align-middle pt-4 pb-4">{{line.safety_stock_days}}</td>
                    <td class="align-middle pt-4 pb-4">{{line.current_inventory | intcomma}}</td>
                    <td class="align-middle pt-4 pb-4">{{line.forecast | intcomma}}</td>
                    <td class="align-middle pt-4 pb-4">{{line.safety_stock | intcomma}}</td>
                    <td class="align-middle pt-4 pb-4">{{line.batches | intcomma}}</td>
                    <td class="align-middle table-success pt-4 pb-4">{{line.quantity | intcomma}}</td>
                    <td class="align-middle pt-4 pb-4">{{line.closing_inventory | intcomma}}</td>
                    <td class="align-middle pt-4 pb-4">{{line.closing_inventory_days | intcomma}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script>
    document.getElementById("production-link").classList.add('active');
</script>

{% endblock %}