{% extends 'base.html' %}

{% block title %}Production Plans{% endblock %}

{% block content %}

<div class="row m-3">
    <div class="col-12">
        <div class="row">
            <div class="col"><h2>Production Plans</h2></div>
            <div class="col text-end"><a class="btn btn-outline-info" href="/planning/production/add">Add Plan</a></div>
        </div>
    </div>
</div>
<div class="row m-3">
    {% if plans|length > 0 %}
    <div style="overflow-x:auto; white-space: nowrap;" class="col-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Created</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for p in plans %}
                <tr>
                    <th class="align-middle" scope="row">{{forloop.counter}}</th>
                    <td class="align-middle">{{p.name}}</td>
                    <td class="align-middle">{{p.created}}</td>
                    <td class="align-middle"><a class="btn btn-outline-dark" href="production/{{p.id}}/view">View</a></td>
                    <td class="align-middle"><a class="btn btn-outline-danger" href="production/{{p.id}}/delete">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="col-12">
        <h5>There are no production plans added.</h5>
    </div>
    {% endif %}
</div>

<script>
    document.getElementById("production-link").classList.add('active');
</script>

{% endblock %}