{% extends 'base.html' %}

{% block title %}Reordering Plan{% endblock %}

{% block content %}

{% load humanize %}

<div class="row m-3">
    <div class="col-12">
        <div class="row">
            <div class="col pb-4"><h2>{{plan.name}}</h2></div>
        </div>
        <div class="row">
            <div class="col pb-4"><h5>(Based on production plan: <b>{{plan.production_plan.name}}</b>)</h5></div>
        </div>
    </div>
</div>
<div class="row m-3">
    <div style="overflow-x:auto" class="col-12 table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="">#</th>
                    <th scope="col" class="">Material Code</th>
                    <th scope="col" class="">Material Description</th>
                    <th scope="col" class="">MOQ</th>
                    <th scope="col" class="">Lead Time</th>
                    <th scope="col" class="">Safety Stock Days</th>
                    <th scope="col" class="">Current Stock</th>
                    <th scope="col" class="">Forecast</th>
                    <th scope="col" class="">Safety Stock</th>
                    <th scope="col" class="table-success">Purchase Proposal</th>
                    <th scope="col" class="">Closing Stock</th>
                    <th scope="col" class="">Closing Stock Days</th>
                </tr>
            </thead>
            <tbody>
                {% for line in plan_lines %}
                <tr>
                    <th class="align-middle" scope="row">{{forloop.counter}}</th>
                    <td class="align-middle pt-4 pb-4">{{line.material.itemcode}}</td>
                    <td class="align-middle pt-4 pb-4">{{line.material.name}}</td>
                    <td class="align-middle pt-4 pb-4">{{line.minimum_order_quantity | intcomma}}</td>
                    <td class="align-middle pt-4 pb-4">{{line.lead_time}}</td>
                    <td class="align-middle pt-4 pb-4">{{line.safety_stock_days}}</td>
                    <td class="align-middle pt-4 pb-4">{{line.current_inventory | intcomma}}</td>
                    <td class="align-middle pt-4 pb-4">{{line.forecast | intcomma}}</td>
                    <td class="align-middle pt-4 pb-4">{{line.safety_stock | intcomma}}</td>
                    <td class="align-middle pt-4 pb-4 table-success">{{line.proposal | intcomma}}</td>
                    <td class="align-middle pt-4 pb-4">{{line.closing_inventory | intcomma}}</td>
                    <td class="align-middle pt-4 pb-4">{{line.closing_inventory_days | intcomma}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script>
    document.getElementById("reordering-link").classList.add('active');
</script>

{% endblock %}